<%= render 'nav_list' %>
<hr>
<h1><%= @list.name %></h1>
<div class="container-fluid">
    <span class="mb-2 d-block"><small><em class="text-muted"><%= "You haven't saved any movies yet!" if @list.movies.empty? %></em></small></span>
<%= render 'card_list' %>
</div>
